<div class="cards_container">
    <p class="card_label">Elige una carta 👇</p>
    <div class="card_row">
        @if (cards.length === 0) {
            <p class="card_error">
                No hay cartas registradas
            </p>
        } @else {
            @for (card of cards; track card; let i = $index) {
                @if (card.value == selectedCard) {
                    <p class="card chosen">
                        {{card.value}}
                    </p>
                } @else {
                      @if (isCardChosen) {
                        <p class="card" [class.not_allowed]="isCardChosen">
                            {{card.value}}
                        </p>
                      } @else {
                        <p class="card" (click)="onCardClicked(card.value)">
                            {{card.value}}
                        </p>
                      }
                    }
                }
        }
    </div>
</div>
