<header class="navbar">
  <app-navbar
  location="navbar_home"/>
</header>
<main class="welcome">
  <section class="welcome_section">
    <div class="welcome_logos">
      <app-logo
      class="logos"
      logoUrl="assets/images/pragma.png"
      logoAlt="Main logo"
      logoClass="main_logo"
      />
      <app-logo
      class="logos"
      logoUrl="assets/images/pragma-logo.png"
      logoAlt="Main logo"
      logoClass="secondary_logo"
      />
    </div>
  </section>
  <section class="create_section">
    <app-create-game-form />
  </section>
</main>
