.board {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_signup {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.board_table {
    width: 35%;
    height: 35%;
    border: #7443d6 solid 0.1rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_table_inner {
    width: 90%;
    height: 85%;
    border: #7443d6 solid 0.1rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_table_center {
    width: 95%;
    height: 90%;
    border: #7443d6 solid 0.1rem;
    background-color: #270953;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_top {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board_right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.board_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.board_left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.player,
.cards_count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_card {
    border: #985acd solid 0.1rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    color: #fff;
    font-weight: 100;
}

.player_card_username {
    color: #fff;
    font-weight: 100;
}

.player_card_spectator {
    background-color: #bdbdff;
    color: #270953;
    font-weight: 600;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_card_chosen {
    background-color: #bb65ff;
    border-radius: 0.5rem;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hidden {
    animation: fadeOut 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.cards_revealed {
    animation: fadeIn 2.5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 1%;
    width: 40%;
}

.card {
    border: #985acd solid 0.1rem;
    border-radius: 0.5rem;
    width: 3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cards_average {
    animation: fadeIn 2.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4%;
    left: 70%;
}

.bold {
    animation: fadeIn 2.5s ease-in-out;
    font-weight: 600;
    font-size: 2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}