<header>
    <nav class="navbar_board">
        <a href="/">
        <app-logo
        logoUrl="assets/images/pragma.png"
        logoAlt="Logo navbar"
        logoClass="nav_logo"
        logoWidth="100"
        logoHeight="100"/>
        </a>
        <app-title
        [text]="boardName()"/>
        <div class="navbar_user">
            <p class="user_initials" (click)="changePlayerType()">
                {{sessionPlayer.name | initials}}
            </p>
            <app-button
            buttonText="Invitar jugadores"
            buttonClass="button nav_button"
            (buttonClicked)="toggleInviteModal()"
            />
        </div>
      </nav>
</header>
<main class="board">
    <div [class.board_signup]="!isGameReady">
        <app-signup-form *ngIf="!isGameReady"></app-signup-form>
    </div>

    <div [class.invite_modal]="isInviteModalOpen" [class.modal_closed]="!isInviteModalOpen">
        <div class="modal">
            <div class="modal_header">
                <p>Invitar jugadores</p>
                <span class="close_icon" (click)="toggleInviteModal()">&#x2716;</span>
            </div>
            <div class="modal_body">
                <input type="text" [value]="inviteLink" class="invite_link" id="invite-link" readonly>
                <app-button
                buttonClass="button primary_button"
                buttonText="Copiar link"
                (buttonClicked)="copyToClipboard()"/>
            </div>
        </div>
    </div>

    <div class="board_top">
    @for (player of players.slice(0, 3); track $index) {
        @if (player.guest_visualization === 'espectador') {
            <p class="player_card_spectator">{{player.guest_name | initials}}</p>
        } @else if (player.game_show_cards !== 0) {
            <div class="player">
                @if (revealCards) {
                    <p class="player_card value">{{player.guests_qualification}}</p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                } @else {
                    <p class="player_card_chosen"></p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        } @else {
            <div class="player">
                <p class="player_card"></p>
                @if (sessionPlayer.role === 'admin' && !revealCards) {
                    <p class="player_card_username clickable" (click)="makeAdmin()" >{{player.guest_name}}</p>
                }@else {
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        }
    }
    </div>

    <div class="board_right">
    @for (player of players.slice(3, 4); track $index) {
        @if (player.guest_visualization === 'spectator') {
            <p class="player_card_spectator">{{player.guest_name | initials}}</p>
        } @else if (player.game_show_cards !== 0) {
            <div class="player">
                @if (revealCards) {
                    <p class="player_card value">{{player.guest_visualization | initials}}</p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                } @else {
                    <p class="player_card_chosen"></p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        } @else {
            <div class="player">
                <p class="player_card"></p>
                @if (sessionPlayer.role === 'admin' && !revealCards) {
                    <p class="player_card_username clickable" (click)="makeAdmin()" >{{player.guest_name}}</p>
                }@else {
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        }
    }
    </div>
    <div class="board_bottom">
    @for (player of players.slice(4, 7); track $index) {
        @if (player.guest_visualization === 'espectador') {
            <p class="player_card_spectator">{{player.guest_name | initials}}</p>
        } @else if (player.game_show_cards !== 0) {
            <div class="player">
                @if (revealCards) {
                  <p>HOla</p>
                    <p class="player_card value">{{player.guests_qualification}}</p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                } @else {
                    <p class="player_card_chosen"></p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        } @else {
            <div class="player">
                <p class="player_card"></p>
                @if (sessionPlayer.role === 'admin' && !revealCards) {
                    <p class="player_card_username clickable" (click)="makeAdmin()" >{{player.guest_name}}</p>
                }@else {
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        }
    }
    </div>

    <div class="board_left">
    @for (player of players.slice(7, 8); track $index) {
        @if (player.guest_visualization === 'espectador') {
            <p class="player_card_spectator">{{player.guest_name | initials}}</p>
        } @else if (player.game_show_cards !== 0) {
            <div class="player">
                @if (revealCards) {
                    <p class="player_card value">{{player.guest_visualization | initials}}</p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                } @else {
                    <p class="player_card_chosen"></p>
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        } @else {
            <div class="player">
                <p class="player_card"></p>
                @if (sessionPlayer.role === 'admin' && !revealCards) {
                    <p class="player_card_username clickable" (click)="makeAdmin()" >{{player.guest_name}}</p>
                }@else {
                    <p class="player_card_username">{{player.guest_name}}</p>
                }
            </div>
        }
    }
    </div>

    <div class="board_table">
        <div class="board_table_inner">
            <div class="board_table_center">
                <div [class.hidden]="revealCards">
                    @if (canRevealCards) {
                        @if (sessionPlayer.visualization === 'propietario') {
                            <app-button
                            buttonClass="button secondary_button"
                            buttonText="Revelar cartas"
                            (buttonClicked)="revealCardsEvent()"/>
                        }<!-- @else {
                            <p [class.hidden]="!canRevealCards" class="board_label">Contando votos</p>
                        } -->
                    }
                </div>
                <div [class.hidden]="!revealCards" [class.show]="average !== 0">
                    @if (sessionPlayer.visualization === 'propietario') {
                        <app-button
                        buttonClass="button secondary_button"
                        buttonText="Volver a jugar"
                        (buttonClicked)="resetGame()"
                        />
                    }<!-- }@else {
                        <p [class.hidden]="!canRevealCards" class="board_label">Contando votos</p>
                    } -->
                </div>
            </div>
        </div>
    </div>

    @if (!isSpectator) {
        <div [class.hidden]="revealCards">
            <app-card />
        </div>
    }
    @if(revealCards) {
        <div class="cards_revealed">
            @for (card of votes | keyvalue; track $index) {
                <div class="cards_count">
                    <p class="card">{{card.key}}</p>
                    @if (card.value == 1) {
                        <p class="value">{{card.value}} Voto</p>
                    } @else {
                        <p class="value">{{card.value}} Votos</p>
                    }
                </div>
            }
        </div>
        <div class="cards_average">
            <p class="value">Promedio: </p>
            <p class="value bold">{{average}}</p>
        </div>
    }

</main>
