.navbar_board {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-right: 2rem;
  }

.navbar_user {
    display: flex;
    align-items: center;
}

.user_initials {
    margin-right: 1rem;
    cursor: pointer;
}

.board {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_signup, 
.invite_modal {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.board_table {
    width: 35%;
    height: 35%;
    border: #7443d6 solid 0.1rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_table_inner {
    width: 90%;
    height: 85%;
    border: #9479e8 solid 0.1rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_table_center {
    width: 95%;
    height: 90%;
    border: #7443d6 solid 0.1rem;
    background-color: #270953;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_top {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board_right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.board_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.board_left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.player,
.cards_count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_card {
    border: #985acd solid 0.1rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_card_username, 
.value,
.board_label {
    color: #fff;
    font-weight: 100;
}

.player_card_spectator,
.user_initials {
    background-color: #bdbdff;
    color: #270953;
    font-weight: 600;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_card_chosen {
    background-color: #bb65ff;
    border-radius: 0.5rem;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}

.card_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hidden {
    animation: fadeOut 1.0s ease-in-out;
    animation-fill-mode: forwards;
}

.show {
    animation: fadeIn 1.5s ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
}

.cards_revealed {
    animation: fadeIn 2.5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 1%;
    width: 40%;
}

.card {
    border: #985acd solid 0.1rem;
    border-radius: 0.5rem;
    width: 3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cards_average {
    animation: fadeIn 2.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4%;
    left: 70%;
}

.bold {
    animation: fadeIn 2.5s ease-in-out;
    font-weight: 600;
    font-size: 2rem;
}

.modal {
    width: 30rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f0d3f;
    border-radius: 1rem;
    animation: fadeIn 0.3s ease-in-out;
}

.modal_header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6429cd;
    border-radius: 1rem 1rem 0 0;
}

.modal_header p {
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #fff;
}

.close_icon {
    color: #fff;
    font-weight: 100;
    margin-right: 1rem;
    cursor: pointer;
}

.modal_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: #a962e8 1px solid;
    border-left: #a962e8 1px solid;
    border-bottom: #a962e8 1px solid;
    border-radius: 0 0 1rem 1rem;
}

.invite_link {
    margin-top: 0.4rem;
    padding: 0.5rem 4rem 0.5rem 1rem;
    width: 90%;
    border: #bb65ff 0.12rem solid;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    color: #fff;
}

.modal_closed {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}