/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background: radial-gradient(
    circle,
    #380971,
    #615578
  );
}

